.timeline-color-50 {
    &:before {
        content: " ";
        width: 50%;
        height: 4px;
        top: 0;
        left: 0;
        position: absolute;
        background: $c1;
    }
}

.form-control {
    &:focus {
        border-color: transparent;
        box-shadow: 0 0 0 0.1rem $c2;
    }
}