.timeline-color-100 {
    &:before {
        content: " ";
        width: 100%;
        height: 4px;
        top: 0;
        left: 0;
        position: absolute;
        background: $c1;
    }
}

.new-btn-order2 {
    &:after {
        content: "確認付款";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 50px;
        color: $c1;
        z-index: 3;
        transition: all .3s;
    }
}

.table-border {
    border: 1px solid $c1;
}

.new-btn-buy {
    &:after {
        content: "繼續購買";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 50px;
        color: $c1;
        z-index: 3;
        transition: all .3s;
    }
}

.new-btn-index {
    &:after {
        content: "回首頁";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 50px;
        color: $c1;
        z-index: 3;
        transition: all .3s;
    }
}