.fruit {
  color: $dark;
  background: rgba(255, 255, 255, .4);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: background .2s;

  &:hover {
    text-decoration: none;
    color: $light;
    background: #c7c2c2;
  }
}

.fruit-item {
  border: 1px solid rgb(199, 194, 194);
  border-radius: 15px;

  .active {
    background-color: #143c65;
    color: #01ff3b;
    font-weight: bold;
  }
}

.fruit-item li:first-child a {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.fruit-item li:last-child a {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

//.........................................
.sort {
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(199, 194, 194);

  &:focus {
    outline: none;
  }

}

[type="search"] {
  outline-offset: 0px;
  border-color: $c1;
  outline: none;
  width: 100%;
  border-radius: 5px;

}

.search-group {
  overflow: hidden;
}

.fa-search {
  right: 0;
  background: $c2;
  padding: 10px;

  &:hover {
    color: $c4;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}